*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
body
{
    background-color: rgb(109, 108, 108);
    overflow-y: hidden;
    
}
.nav_tabs
{   
    border-bottom: 5px solid blue;
    width: 100vw;
    height: 100vh;
    background-color:#363b48 ;
    position: relative;

}
.nav_tabs ul
{

    list-style: none;

}
.nav_tabs ul li
{
    float: left; 
}
.nav_tabs label
{   
    width: 100px;
    padding: 10px;
    background: #363b48;
    display: block;
    color: #fff;
    cursor: pointer;
    text-align: center;
}
.nav_tabs label:hover
{
    background:rgba(255, 255, 255, 0.126);
}
.rd_tabs:checked ~ .tab1
{
    background-color: #087F41;
}
.rd_tabs:checked ~ .tab2
{
    background-color: #0050B9;
}
.rd_tabs:checked ~ .tab3
{
    background-color: #8D2429;
}
.rd_tabs:checked ~ .tab4
{
    background-color: #E4411E;
}
.rd_tabs
{
    display: none;
}

.content1, .content2, .content3, .content4
{   
    border-top: 1px solid rgba(0, 0, 0, 0.263);
    display: none;
    position: absolute;
    height:100%;
    width: 100%;
    left: 0;
}
.rd_tabs:checked ~ .content1
{
    display: block;
}
.rd_tabs:checked ~ .content2
{
    display: block;
}
.rd_tabs:checked ~ .content3
{
    display: block;
}
.rd_tabs:checked ~ .content4
{
    display: block;
}

.content1
{
    background-image: url(./img/excel-img.png);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(4px);
}
.content2
{
    background-image: url(./img/Word-img.png);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(4px);
}
.content3
{
    background-image: url(./img/Acess-img.png);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(4px);
}
.content4
{
    background-image: url(./img/powerpoint_img.png);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(4px);
}

.left
{
    width: 30%;
    height: 100%;
    border-right: 1px solid #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 50px 10px 50px 10px;
    background-color: rgba(255, 255, 255, 0.241);
    

}
.info
{   

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto  auto auto auto  auto auto  ;
    gap: 10px;
    font-size: 10px;
}
.certificado img
{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
.certificado img:hover
{
    transform: scale(1.25,1.25);
}


section
{
    backdrop-filter: blur(4px);
    display: flex;
    height: 100%;
    width: 100%;

}



.right
{
    width: 70%;
    height: 100%;
    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 10px;
    padding: 20px 20px 20px 20px;
    background-color: rgba(255, 255, 255, 0.241);
}
h1
{   
    width: 100%;
    text-align: start;
    font-size: 15px;
}

h2
{
    font-size: 12px;
}
p
{
    font-size: 12px;
}



@media (max-width:500px)
{
    .certificado img
    {
        padding-top: 10px;
        width: 150px;
        height: 100px;
    }
}
@media (max-width:999px)
{
    .nav_tabs label
    {
        width: 80px;
        font-size: 10px;
    }
    section{
        display: flex;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
    }

    .left
    {
        width: 100%;
        height:auto;
        border: none;
        display: flex;
        flex-direction: row;
        gap:20px;
        padding: 10px 10px 20px 10px;
        justify-content: space-around;
    

    }
    .right
    {
        width: 100%;
        height: auto;
        display: grid;

        grid-template-columns: 100%;
        grid-template-rows: 1fr 3fr 1fr 3fr 1fr 3fr;
        padding: 0px 20px 20px 20px;
    }
    h4, h1
    {   
        width: 100%;
        text-align: start;
        font-size: 10px;
    }
    p, h2
    {
        font-size: 10px;
    }
}
